.about{
    margin-top: 5rem;
    display: flex;
    height: 90vh;
}

.container{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section1{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;

    img{
        padding: 3px;
        border: 3px solid var(--text3);
        width: 15rem;
        border-radius: 50%;
    }
}

.info{
    width: 30vw;
    margin-top: 3rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.dropdown{
    margin-top: 15px;
    background-color: var(--text3);
    color: var(--text2);
    border-radius: 12px;
    padding: 8px;
    
    h1{
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
    }

    svg{
        fill: var(--text2);
    }
}

.content{
    margin-top: 5px;
    border-top: 2px solid var(--text2);
    padding: 5px 5px 5px 5px;

    span{
        color: var(--text2);
        font-weight: 500;
    }
}

.section2{
    width: 40vw;
}

.title{
    margin-top: 7rem;
    text-align: center;
    color: var(--text3);
    font-size: 1.5rem;
}

.tech{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    img{
        width: 6rem;
    }
}


@media(900px > width){

    .about{
        height: 110vh;
    }

    .container{
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        margin-top: 0;
    }

    .section1{
        width: 90vw;
        padding-top: 1rem;
    }

    .section2{
        width: 90vw;
    }

    .info{
        width: 75vw;
    }

    .dropdown{
        padding-top: 0;
    }

    .title{
        font-size: 1rem;
    }

    .tech{
        justify-content: center;

        img{
            width: 5.5rem;
        }
    }
}

@media(700px > width){
    .about{
        height: 110vh;
        padding-bottom: 0px;
    }

    .tech img{
        width: 4rem;
    }
}

@media(500px > width){

    .about{
        height: 120vh;
        padding-bottom: 0px;
    }

    .tech{


        img{
            width: 3rem;
        }
    }

}