:root{
  --body_background: #ffffff;
  --content_background: #f4f4f4;
  --border: #84848f6b;
  --text: black;
  --text2: white;
  --text3: #00aaff;
  --nav_hover: #e6e8eb;
  --form: #00aaff;
  --form_hover: #089ce6e7;
  --main: #dedede;
  --border: #00ccff;
}

[data-theme="dark"] {
  --body_background:#161b28;
  --content_background:#282a36;
  --border: #84848f6b;
  --text: white;
  --text2: black;
  --nav_hover:#161b28;
  --form: #00ff00;
  --form_hover: #00ff00c2;
  --text3: #00ff00;
  --main: #232530;
  --border: #00cc00;
}


*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  scrollbar-gutter: auto;
}

::-webkit-scrollbar-track {
  background: var(--content_background);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--nav_hover)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border);
}

body{
  background-color: var(--body_background);
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}


